<div class="logo-container">
    <img src="~/icon.png" alt="noteapp-logo" class="app-logo"/>
    <h1 class="app-name">Noteapp</h1>
</div>

<div class="links">
    <a asp-action="App" class="web-link">Go to web app</a>
    <a asp-action="DownloadForDesktop" class="desktop-link">Download app for Windows</a>
</div>