@{
    Layout = "_AppLayout";
}

<div class="wrapper">
    <div class="views">
        <button>Notes</button>
    </div>
    <div class="notes">
        <div class="notes-new">
            <button id="new-note-button">New note</button>
        </div>
        <div id="notes-list"></div>
    </div>
    <div class="selected-note">
        <div class="selected-note-actions">
            <button id="save-note-button">Save note</button>
            <button id="delete-note-button">Delete note</button>
            <button id="pin-note-button">Pin note</button>
            <input id="note-pinned" type="checkbox" disabled/>
            <button id="lock-note-button">Lock note</button>
            <input id="note-locked" type="checkbox" disabled/>
            <button id="archive-note-button">Archive note</button>
            <input id="note-archived" type="checkbox" disabled/>
            <button id="publish-note-button">Publish note</button>
            <input id="note-published" type="checkbox" disabled/>
        </div>
        <div class="selected-note-text">
            <textarea id="note-text" placeholder="Note text here..."></textarea>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        (async function() { 
            await run();
        })();
    </script>
}
