@{
    Layout = "_AppLayout";
}

<div class="wrapper">
    <div class="views">
        <button>Notes</button>
    </div>
    <div class="notes">
        <div class="notes-new">
            <button id="new-note-button">New note</button>
        </div>
        <div id="notes-list"></div>
    </div>
    <div class="selected-note">
        <div class="selected-note-actions">
            <button id="save-note-button">Save note</button>
            <button id="delete-note-button">Delete note</button>
        </div>
        <div class="selected-note-text">
            <textarea id="note-text" placeholder="Note text here..."></textarea>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        (async function() { 
            await run();
        })();
    </script>
}
