/* Global */
body {
    margin: 0;
}

* {
    border: 1px solid blue;
    box-sizing: border-box;
}

#wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 140px 1fr;
}

#views-panel {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}

#current-view {
    display: grid;
}

/* Notes view */
#notes-view {
    display: grid;
    grid-template-columns: 280px 1fr;
}

#notes {
    display: grid;
    grid-template-rows: 50px 50px 1fr;
}

#notes-list {
    display: flex;
    flex-direction: column;
}

#third-column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#selected-note {
    flex-grow: 1;
    display: grid;
    grid-template-rows: 50px 50px 1fr;
}

#note-history {
    flex-basis: 120px;
    display: none;
}

#notes-new {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

#notes-sort {
    display: flex;
}

#selected-note-actions {
    display: flex;
    justify-content: right;
    padding: 10px;
    grid-row-start: 1;
}

#selected-note-text {
    padding: 5px;
    grid-row-start: 3;
}

.note {
    width: 100%;
    min-height: 60px;
    
}

.note > button {
    width: 100%;
    height: 100%;
}

#new-button, #toggle-show-archived-button {
    width: 35%;
    height: 60%;
}

#note-text {
    height: 100%;
    width: 100%;
    font-size: 24px;
    resize: none;
}


/* Login view */
#login-view {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 10%;
}

#login-button {
    grid-row-start: 3;
    grid-column: span 2;
    width: 200px;
    height: 50px;
}

#login-view > * {
    margin: auto;
    font-size: 22px
}


/* Register view */
#register-view {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 10%;
}

#register-button {
    grid-row-start: 3;
    grid-column: span 2;
}

#register-view > button {
    width: 200px;
    height: 50px;
}

#register-view > * {
    margin: auto;
    font-size: 22px
}

/* Settings view */
#settings-view {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 10%;
}

#logout-button {
    grid-row-start: 3;
}

#delete-account-button {
    grid-row-start: 4;
}

#settings-view > * {
    margin: auto;
    font-size: 22px
}

#settings-view > button {
    width: 200px;
    height: 50px;
    grid-column: span 2;
}