body {
    margin: 0;
}

* {
    border: 1px solid blue;
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 140px 280px 1fr;
}

.views {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.notes {
    display: grid;
    grid-template-rows: 50px 50px 1fr;
    overflow: auto;
}

.third-column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.selected-note {
    flex-grow: 1;
    display: grid;
    grid-template-rows: 50px 50px 1fr;
}

.note-history {
    flex-basis: 120px;
    display: none;
}

.authentication {
    flex-basis: 120px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.authentication-row {
    display: flex;
    padding: 10px;
    font-size: 22px;
}

.notes-new {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.notes-sort {
    display: flex;
}

.notes-list {
    display: flex;
    flex-direction: column;
}

.selected-note-actions {
    display: flex;
    justify-content: right;
    padding: 10px;
    grid-row-start: 1;
}

.selected-note-text {
    padding: 5px;
    grid-row-start: 3;
}

.note {
    width: 100%;
    min-height: 60px;
}

.note > button {
    width: 100%;
    height: 100%;
}

#new-note-button {
    width: 35%;
    height: 60%;
}

#note-text {
    height: 100%;
    width: 100%;
    font-size: 24px;
    resize: none;
}
