@model RegisterViewModel

<h1>Register</h1>

<div>
    <form method="post">
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" />
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
        </div>
        <div>
            <input type="submit" />
        </div>
    </form>
</div>